<div class="container-fluid mb-5">
  <h1>Bootcamp Enrollment Form</h1>
  <div class= "alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit(userForm)" novalidate>

    <div class="form-group animation">
      <label>Name</label>
      <input type="text" required #name="ngModel"
       [class.is-invalid]="name.invalid && name.touched" class="form-control" 
       name="userName" [(ngModel)]="userModel.name">
       <small class="text-danger" [class.d-none]="name.value || name.untouched">Name is required</small>
    </div>

    
    <div class="form-group animation">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group animation">
      <label>Phone</label>
      <input type="tel" #phone="ngModel"  pattern="^\d{10}$" required
      [class.is-invalid]="phone.invalid && phone.touched" class="form-control" 
      name="phone" [(ngModel)]="userModel.phone">
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors?.['required']">phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors?.['pattern']">Phone number must be 10 digits</small>
      </div>
    </div>

    <div class="form-group animation">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel" 
        [class.is-invalid]="topicHasError && topic.touched" class="custom-select" 
        name="topic" [(ngModel)]="userModel.topic">
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched"> Please choose a topic</small>
    </div>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" ngModel name="timePreferance" value="morning">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" ngModel name="timePreferance" value="evening">
        <label class="form-check-label">Evening (5AM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input"  name="subscribe" [(ngModel)]="userModel.name" type="checkbox">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <button [disabled]="userForm.form.invalid || topicHasError" 
     class="btn btn-primary" type="submit">Submit form</button>

  </form>
</div>